*{
    margin:0px;
    padding:0px;
    background-color: #D1F2EB;
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    border:5px solid rgb(11, 10, 10);
    margin-top:10%;
}

.display {
    font-family:  sans-serif;
    background-color: #E6B0AA;
    border: solid rgb(13, 12, 12) 0.5px;
    color: rgb(230, 176, 170 );
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#buttons {
    background-color: rgba(230, 176, 170 , 0.868);
}

input[type=button] {
    font-family: sans-serif;
    background-color:rgb(230, 176, 170 );
    color: rgb(5, 4, 4);
    border: solid rgb(28, 25, 25) 0.5px;
    width: 80px;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
input[type=button]:hover{
    background-color: rgb(230, 176, 170 );
}
#result{
    font-weight: bold;
    font-size: 1rem;
}
